$body-bg: #FFF;
$main-font: 'Open Sans',
sans-serif;
$dark-theme-primary-color: rgb(27, 21, 17);
$dark-theme-primary-font-color: rgb(27, 21, 17);
$dark-theme-secondary-color: rgb(83, 69, 59);
$dark-theme-secondary-font-color: rgb(83, 69, 59);
$light-theme-primary-color: rgb(188, 230, 238);
$light-theme-primary-font-color: rgb(188, 230, 238);
$light-theme-secondary-color: rgba(188, 230, 238, 0.616);
$light-theme-secondary-font-color: rgba(188, 230, 238, 0.616);
$container:960px;