* {
  margin: 0;
  padding: 0; }

body {
  background-color: #FFF;
  font-family: "Open Sans", sans-serif;
  text-align: center; }

a {
  text-decoration: none; }

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 20px; }

header {
  padding: 1em;
  background: #1b1511;
  color: #987660; }
  header .fa-users {
    font-size: 50px;
    float: left;
    padding-left: 10px; }

nav.main-nav {
  background: #53453b;
  height: 40px; }
  nav.main-nav ul {
    list-style: none;
    padding-top: 10px; }
  nav.main-nav li {
    display: inline-block; }
  nav.main-nav a {
    color: #987660;
    padding-right: 20px; }
    nav.main-nav a:hover {
      color: #bbab9f; }

.profile-title {
  display: inline-flex;
  font-size: 1.5em; }
  .profile-title div {
    background: #1b1511;
    color: #987660;
    padding: 10px; }

.profile-data > div {
  display: table-cell;
  border: solid #1b1511;
  }

footer {
  background: #1b1511;
  color: #987660;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  margin-bottom: 0px; }

.profile-list {
  text-decoration: none;
  display: table;
  }

.fa-heart {
  color: #e25555; }

.footer-text {
  font-size: 16px;
  text-align: center;
  line-height: 60px;
  margin-left: 10px; }
