html {
    height: 100%;
    font: caption;
}

html,
body {
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

body {
    min-height: auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: black;
    padding: 20px 0px;
    color: white;
}

.fa-users {
    font-size: 50px;
    float: left;
    padding-left: 10px;
}

.head-text {
    font-size: 30px;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    margin-bottom: 0px;
}

.container {
    display: inline;
}

.fa-heart {
    color: #e25555;
}

.footer-text {
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    margin-left: 10px;
}